---
import Converter from "../components/Converter.tsx";
---

<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={ Astro.generator } />
		<title>Sol's RNG Update Log Generator</title>
	</head>
	<body style="background-color: #101211; color: #ccc">
		<main style="max-width: 2000px; margin: 0 auto; padding: 2rem;">
			<h1>Sol's RNG Update Log Generator</h1>

			<Converter client:load />
		</main>
	</body>
</html>
